<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <p>
    <%= @full_name %>
  </p>
  <h4>Cats or dogs?</h4>
  <p>
    <%= @animal %>
  </p>
  <h4>Grade level</h4>
  <p>
    <%= @grade_level %>
  </p>
</div>
